exportPattern("^[[:alpha:]]*")
import(methods)
importClassesFrom(ShortRead, .QA)
importMethodsFrom(BiocGenerics, do.call, lapply, ncol, nrow, paste,
                  rbind, setdiff, table, unique, width)
importMethodsFrom(BiocParallel, bplapply)
importMethodsFrom(Biostrings, encoding, quality)
importMethodsFrom(IRanges, mean, quantile, sub)
importMethodsFrom(S4Vectors, Rle)
importMethodsFrom(ShortRead, alphabetByCycle, alphabetScore,
                  FastqStreamer, sread, yield)
importFrom(ggplot2, aes, aes_string, geom_bar, geom_boxplot, geom_line,
           geom_point, ggplot, labs, scale_fill_gradient, scale_colour_manual,
           scale_fill_manual, scale_x_discrete, qplot, facet_wrap,
           scale_y_discrete, geom_tile, geom_histogram)
importFrom(knitr, knit2html, opts_knit)
importFrom(ShortRead, FastqSampler)
importFrom(BiocStyle, markdown)
importFrom(plyr, ddply, summarize)
importFrom(knitr, knit)
importFrom(markdown, markdownToHTML)
importFrom(BiocParallel, bpparam)
